parameters:
  level: max
  paths:
    - src
    - tests
  ignoreErrors:
    - message: '#Class [a-zA-Z0-9_\\]+ has an uninitialized property#'
      path: %currentWorkingDirectory%/tests/
  checkExplicitMixed: true
  checkUninitializedProperties: true
  reportMaybes: true
  inferPrivatePropertyTypeFromConstructor: true
  excludePaths:
    - vendor